<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Nuevo Pedido</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div align="center" ng-app="pedidos" ng-controller="controller" ng-init="productos()">
            <select ng-model="codigo">
                <option ng-repeat="p in productos" ng-value={{p.codigoProducto}}>{{p.producto}}</option>
            </select>
            <br/><br/>
            Unidades: <input type="number" ng-model="unidades"/>
            <br/><br/>
            <input type="button" ng-click="guardar()" value="Guardar Pedido">
            <br/><br/>
            <a href="verPedidos.html" target="blank"> Ver pedidos</a>
        </div>

        <script>
            var app=angular.module("pedidos", []);
            app.controller("controller", function($scope, $http) {
                //Acceso por zuul
               //let producto ="http://localhost:8090/sproductos/productos";
               //let pedido ="http://localhost:8090/spedidos/pedido";
               
               //Acceso por Gateway
               let producto ="http://localhost:8090/sproductos/productos";
               let pedido ="http://localhost:8090/spedidos/pedido";

               $scope.productos=function(){
                   $http.get(producto)
                   .then(function(res){
                       $scope.productos = res.data;
                   })
               }

               $scope.guardar=function(){
                    let ob = new Object();
                    ob.codigoProducto = $scope.codigo;
                    ob.unidades = $scope.unidades;
                    $http.post(pedido, ob);
               }
            });
        </script>
    </body>
</html>